<!doctype html>
<html>
<head>
  <title>9/11 Memorial</title>
  <script src="{{ request.static_url('memorial:static/socket.io.min.js') }}"></script>
  <script src="{{ request.static_url('memorial:static/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ request.static_url('memorial:static/app.js') }}"></script>
  <link rel="stylesheet" href="{{ request.static_url('memorial:static/styles.css') }}" >
</head>
<body>
  <div class='container'>
    <div id='header'>
      <h1>Pager Messages Intercepted On September 11th, 2001.</h1>
      <h3>Feed is delayed by 13 years, 13 days.  Click on a message to hold it.</h3>
      <hr>
    </div>
    <div id="messages">
      <ul id="message-list">
      </ul>
    </div>
  </div>
  <img id="bg" src="{{ request.static_url('memorial:static/tree.jpg') }}" >
</body>
