<!doctype html>
<html>
<head>
<title>9/11 Memorial</title>
<meta charset="utf-8">
<script src="{{ request.static_url('memorial:static/socket.io.min.js') }}"></script>
<script src="{{ request.static_url('memorial:static/jquery-1.11.1.min.js') }}"></script>
<script src="{{ request.static_url('memorial:static/app.js') }}"></script>
<link rel="stylesheet" href="{{ request.static_url('memorial:static/styles.css') }}" >
<link rel="shortcut icon"  href="{{ request.static_url('memorial:static/favicon.ico') }}">
</head>
<body>
<div class='container'>
  <div id='header'>
    <h1>Pager Messages From September 11th, 2001.</h1>
    <div id='controls-container'>
      <form id='controls'>
        <input id="hours" maxlength="2" type="text">:<input id="minutes" maxlength="2" type="text">:<input id="seconds" maxlength="2" type="text">
        <p id="settime">Set</p>
        <p id="setstate">&#9724;</p>
      </form>
      <div id="settime-msg">Enter times in 24 hour time format, Eastern
        Standard Time.</div>
    </div>
    <hr>
  </div>
  <div id="messages">
    <div id="welcome">
      Use the controls above to set or pause time. <br>
      <a target='_blank'  href='http://911.wikileaks.org/'>Data Source</a>
    </div>
    <div id="loading">
        Establishing connection, may take 15+ seconds on mobile connections.
    </div>
    {% for message in messages %}
      <div class="message">
          <div class='datetime'>{{ message['time'] }} {{ message['date'] }}</div>
          <div class='text'>{{ message['text'] }}</div>
       </div>
    {% endfor %}
    <div id="clicked-on"></div>
  </div>
  <img id="bg" alt='survivor-tree'  src="{{ request.static_url('memorial:static/tree.jpg') }}" >
  </body>
