<!doctype html>
<html>
<head>
  <title>9/11 Memorial</title>
  <script src="{{ request.static_url('memorial:static/socket.io.min.js') }}"></script>
  <script src="{{ request.static_url('memorial:static/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ request.static_url('memorial:static/app.js') }}"></script>
  <link rel="stylesheet" href="{{ request.static_url('memorial:static/styles.css') }}" >
  <link rel="shortcut icon"  href="{{ request.static_url('memorial:static/favicon.ico') }}">
</head>
<body>
  <div class='container'>
    <div id='header'>
        <h1>Pager Messages From September 11th, 2001. <span id='expand'>[+]</span></h1>
        <div id='controls'>
            <input maxlength="2" type="text">:<input maxlength="2"
            type="text">:<input maxlength="2" type="text"><input type="button"
            value="Set Time">
            Source: wikileaks
        </div>
      <hr>
    </div>
    <div id="messages">
    </div>
  </div>
  <img id="bg" src="{{ request.static_url('memorial:static/tree.jpg') }}" >
  <div id="clicked-on"></div>
</body>
