body {
    background-color: black;
    color: white;
    font-family: 'Helvetica', arial, sans-serif;
    font-weight: 400;
    min-width: 640px;
}

h1, h3 {
    color: white;
}

#expand {
    font-size: 22px;
    color: #eee;
    position: relative;
    top: -5px;
    left: 25px;
}

#expand:hover {
    color: darkred;
    cursor: pointer;
}

.container {
    margin: 10px 20px;
}


.message {
    overflow: hidden;
    margin: 12px 0px;
}

.datetime {
    font-size: 16px;
    float: left;
    width: 24%;
    color: darkred;
    margin-right: 1%;
    font-weight: bold;
}

/*
@media (max-width: 1000px) {
    .date {
        display: none;
    }
}
*/

.text {
    float: left;
    width: 73%;
    max-width: 1100px;
    max-height: 120px;
    color: #eee;
}

#bg {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: 100%; height: 100%; z-index: -100;
    opacity: .07;
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

#clicked-on {
    width: 90%;
    position: absolute;
    color: black !important;
    background-color: rgba(255,255,255,0.9);
    padding: 4px 2px;
    opacity: .8;
    display: none;
}

